.card-container{
    background-color: rgb(7, 18, 59);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    z-index: 99999;
    position: absolute;
    top: 30%;
    left: 25%; 
}
.card-container:hover{
    transform: translate(4px,-4px);
}
.inter-card{
    width: 60%;
}
.heard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p ,h1{
    color: #fff;
}
h1{
    font-size: 1.4rem;
}
.heard h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
li{
    list-style: none;
    display: flex;
}
.search{
    background-color: rgba(16, 76, 121, 0.836);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}
.search label input{
    background-color: rgba(16, 76, 121, 0.836);
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
    width: 100%;
}
.search label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
}
button{
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    outline: none;
    border: none;
    color: #fff;
}
.content-card{
    display: flex;
    gap: 2rem;
    background-color: rgba(16, 76, 121, 0.836);
    padding: 0rem 1.2rem;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}
.firstdiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.octos{
    font-size: 1.5rem;
}
span{
    color: #fff;
}
img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.rigth{
    color: #fff;
    padding-top: 1.3rem;
}
.content{
    width: 100%;
}
.number{ 
    background-color: rgb(7, 18, 59);
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
li{
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
}
.top,.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}
