.card-container{
    background-color: rgb(7, 18, 59);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.inter-card{
    width: 95%;
}
.heard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p ,h1{
    color: #fff;
}
h1{
    font-size: 1.4rem;
}
li{
    list-style: none;
    display: flex;
}
.seach{
    background-color: rgb(21, 55, 82);
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}
button{
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    outline: none;
    border: none;
    color: #fff;
}